@-moz-viewport {width:device-width; scale: 1;}
@-ms-viewport {width:device-width; scale: 1;}
@-o-viewport {width:device-width; scale: 1;}
@-webkit-viewport {width:device-width; scale: 1;}
@viewport {width:device-width; scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

header{
  background-color: #e2e2e2
}

nav{
  background-color: #cccccc;
}

.sub-banner{
  background-color: #e2e2e2;
  text-align: center;
}

.location-box{
  color: white;
  width: auto;
  background-color: #0074d9;
  padding: 10px;
  padding-right: 20px;
}

.location-box a:link{
  color: white;
}

.gallery{
  background-color: #efefef;
}

a:link {
    text-decoration: none;
    color: #0074d9;
}

.location-box a:link, .location-box a:visited{
  color: white;
}

a:visited{
  color: #0074d9;
}

h1{
  text-align: center;
}

.table-text{
  background-color: #e2e2e2;
}

.backdrop{
  background-color: #e2e2e2;
}

footer{
  background-color: #cccccc;
}

@media only screen and (min-width: 15em){
  .sub-banner{
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  h1{
    padding-left: 0px;
  }
  .location-box{
    color: white;
    width: 80%;
    background-color: #0074d9;
    padding: 10px;
  }
  .nav{
    text-align: center;
    padding: 0;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 25em){
  .nav{
    text-align: center;
    padding: 0;
    padding-bottom: 25px;
  }
  .nav li{
    display: inline-block;
  }
  .location-box{
    color: white;
    width: auto;
    background-color: #0074d9;
    padding: 10px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 38em){
  h1{
    padding-left: 25px;
  }
  .nav{
    text-align: left;
    padding-bottom: 5px;
  }
  h1{
    text-align: left;
  }
  .nav li{
    padding-left: 20px;
  }
  .location-box{
    color: white;
    width: auto;
    background-color: #0074d9;
    padding: 10px;
    padding-right: 20px;
  }
}
